@{
    ViewBag.Title = "About GM Combat Screen";
}
<h2 class="pagetitle">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<hr class="redline"/>

<p>GM Combat Screen lets you create characters and combats for your Table-Top Role Playing Games that use an initiative system for turn order.
    Use the Characters menu to create Player and Non-Player Characters.</p>
