@{
    ViewBag.Title = "Contact";
}
<h2 class="pagetitle">@ViewBag.Title</h2>
<h3>Drew Wright</h3>

<hr class="redline" />

<p>Find out more about me or contact me through my <a href="http://drewawright.github.io" target="_blank" class="table-links">portfolio</a>! </p>