@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="image-container">
        <div class="col-md-auto">
            <h1 class="logo-text">GM Combat Screen</h1>
        </div>
        <div class="col-md-auto col-md-offset-6">
            <img src="~/Content/Assets/dmscreenlogo.png" class="logo" />
        </div>
    </div>
</div>
