@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="image-container">
        <h1>GM Combat Screen</h1>
        <img src="~/Content/Assets/dmscreen.png" class="logo"/>
    </div>
</div>
