/*ColorDesigner.io pallette 

    https://colordesigner.io/#f44336-D9CB9E-374140-2A2C2B-BDC3C7
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f6f7f8;
    font-family: 'KoHo', sans-serif;
    font-size: 1.8em;
    color: #2A2C2B;
}

h2 {
    font-weight: 600;
    font-size: 3em;
}

/* adjusted nav breakpoint start*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }
}

/*adjusted nav breakpoint end*/

/*Navbar styling*/
.navbar {
    background: #f44336;
}

.navbar-brand {
    padding: 15px 10px;
}

.nav-image {
    height: 45px;
    padding: 5px;
}

.navbar-right {
    padding-right: 10px;
}

.navbar-fixed-top {
    border: none;
}

.nav li a {
    padding: 15px 10px;
}

.navbar-inverse .navbar-brand {
    color: #fbfbfb;
}

    .navbar-inverse .navbar-brand:hover {
        text-decoration: underline;
    }

.navbar-inverse .navbar-nav li a {
    color: #fbfbfb;
}

    .navbar-inverse .navbar-nav li a:hover {
        background: #2a2c2b;
    }

.navbar .navbar-header .navbar-brand {
    font-family: 'Metamorphous', cursive;
    color: #2A2C2B;
}

@media (min-width: 350px) {

    .navbar .navbar-header .navbar-brand {
        font-size: 1.3em;
    }
}

.navbar-inverse .navbar-nav .open a:focus {
    color: #fbfbfb;
    background-color: #2a2c2b;
}

.navbar-inverse .navbar-nav .open .collapse a:focus {
    color: #fbfbfb;
    background-color: #2a2c2b;
}

.dropdown-menu {
    background: #f44336;
    font-size: 1.6rem;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu li a {
        color: #fbfbfb;
    }
}

.dropdown-menu li a:hover {
    background: #2A2C2B;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/*Landing page*/
.jumbotron {
    font-family: 'Metamorphous', cursive;
    height: 83vh;
    background-color: #f6f7f8;
}

.image-container {
    height: 83vh;
}

.logo-text {
    position: relative;
    top: 180px;
    width: 80%;
    transform: translate(0%, 50%);
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        clip-path: inset(0 100% 0 0)
    }

    to {
        clip-path: inset(0 0 0 0)
    }
}

.logo {
    position: relative;
    top: 50px;
    width: 320px;
    left: -190px;
}

.dice-image {
    position: relative;
    top: -50px;
    left: -67px;
    width: 75px;
    animation: diceRoll 1.3s linear;
    animation-fill-mode: forwards;
}

@-webkit-keyframes diceRoll {
    from {
        transform: translate(-1300%) rotate(0deg)
    }

    to {
        transform: translate(0%) rotate(1080deg)
    }
}


/*End Landing Page*/

/*Landing page for smaller devices*/

@media (max-width: 991px) {
    .logo-text {
        position: relative;
        top: 180px;
        width: 80%;
        transform: translate(0%, 70%);
        animation: fadeInSmall 2s forwards;
    }

    @keyframes fadeInSmall {
        from {
            clip-path: inset(0 100% 0 0)
        }

        to {
            clip-path: inset(0 0 0 0)
        }
    }

    .logo {
        position: relative;
        top: -100px;
        width: 320px;
        left: -20px;
    }

    .dice-image {
        position: relative;
        top: -200px;
        left: 105px;
        width: 75px;
        animation: diceRollSmall 1.3s linear;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes diceRollSmall {
        from {
            transform: rotate(0deg)
        }

        to {
            transform: rotate(720deg)
        }
    }
}

/*End Landing page for smaller devices*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-control:focus {
    border-color: #2A2C2B;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(42, 44, 43, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(42, 44, 43, 0.6);
}
/*overriding bootstrap button styles to match page colors*/
.btn-danger {
    background-color: #f44336;
}

.btn-default {
    background-color: #f6f7f8;
}

.create-btn {
    margin-bottom: 1em;
}

.combat-btn {
    font-size: .9em;
}

.help-block {
    font-size: .8em;
}

/*color for elements used commonly across pages*/
.pagetitle {
    color: #f44336;
}

.redline {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(244, 67, 54, 0.75), rgba(0, 0, 0, 0));
}

.blackline {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(42, 44, 43, 0.75), rgba(0, 0, 0, 0));
}

/*increase font size in form fields (mainly for dropdowns)*/
.form-group-sm .form-control {
    font-size: 1.4rem;
}

.dl-horizontal dt, dd {
    padding-top: 1em;
    width: 180px;
}

.dl-horizontal dd {
    padding-left: 1em;
}

/*table styling*/
.panel {
    background: #f6f7f8;
    box-shadow: none;
}

.table tbody tr th {
    color: #f44336;
    border-top: none;
    border-bottom: 1px solid #f44336;
    padding: 1em inherit;
}

.table tbody tr td {
    padding: .8em;
}

th a {
    color: #f44336;
}

    th a:hover {
        color: #f44336;
    }

td {
    border-bottom: 1px solid #f44336;
}

.table tbody tr:last-of-type td {
    border-bottom: none;
}

@media (min-width: 992px) {
    .hpbar {
        width: 20%;
        height: 30px;
    }

    .progress {
        height: 30px;
        background: #c7cfce;
        box-shadow: -3px 2px 5px #2A2C2B;
    }

    .progress-bar {
        font-size: 1em;
        padding-top: 5px;
        background: linear-gradient(90deg, rgba(18,102,46,1) 0%, rgba(18,105,47,1) 40%, rgba(26,148,66,1) 100%);
    }
}

.conditions-table {
    border: none;
}

.table-links {
    color: #f44336;
}

.player-links {
    text-align: right;
}

.table-links:hover {
    color: #2A2C2B; /*old color: #f44336*/
    text-decoration: none;
}

/*RunCombat page Table*/

.table tbody tr.success {
    background: linear-gradient(90deg, rgba(244,67,54,1) 0%, rgba(245,92,81,1) 8%, rgba(246,247,248,1) 100%);
}

.table tbody tr.success td{
    background-color: rgba(0, 0, 0, 0);
}

.charName {
    border-right: 1px solid #f44336;
    font-weight: 600;
    height: 2em;
    letter-spacing: 0.15em;
}

.combat-number {
    font-weight: 600;
}

.condition-text {
    color: #2A2C2B;
}

/*Roll Initiative link*/

.back-link {
    margin-top: 1em;
    margin-left: .8em;
}

/*footer*/

.footer-links {
    text-align: right;
}
